<%- include('../partials/_head') %>
        <div class="rows">
            <div class="col">
                <a href="/ruangan" class="btn btn-sm btn-danger mt-3">Kembali</a>
                <form action="/ruangan/store" method="post" class="d-flex flex-column gap-4 col-5 mb-3 mt-3">
                    <input type="text" placeholder="nama" name="nama_ruangan" required>
                    <input type="text" placeholder="kode" name="kode_ruangan" required>
                    <select name="pic" id="">
                        <% for( let i = 0; i < data.length; i++ ) { %>
                            <option value="<%= data[i].id_pegawai %>"><%= data[i].nama_pegawai %></option>
                        <% } %>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm col-2">Submit</button>
                </form>
            </div>
        </div>
<%- include('../partials/_foot') %>